<footer class="site-footer">
  &copy;&nbsp;2016 by&nbsp;<a href="https://github.com/{{ site.github_username }}">Simcookies</a>
  <div class="quick-link" id="quick-link">
    <a id="page-top">
      <span class="fa-stack fa-lg">
	<i class="fa fa-square fa-stack-2x"></i>
	<i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="/">
      <span class="fa-stack fa-lg">
	<i class="fa fa-square fa-stack-2x"></i>
	<i class="fa fa-home fa-stack-1x fa-inverse"></i>
      </span>      
    </a>
  </div>
</footer>
