<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <span class="menu-icon" id="menu-icon">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-bars fa-stack-1x"></i>
      </span>
    </span>
    <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
          <a class="page-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">Feeds</a>
          <a class="page-link" href="https://github.com/simcookies/gitio" target="_blank">
            <i class="fa fa-github-alt fa-lg"></i>
            Repositories
          </a>
      </div>
    </nav>

  </div>

</header>
