<div class="sidebar">

  <!-- Search -->
  <div class="col">
    <i class="fa fa-search"></i>&nbsp;<span>Search</span>
  </div>

  <!-- Categories -->
  <div class="col">
    <i class="fa fa-archive"></i>&nbsp;<span>Categories</span>
    <div class="context">
      <ul class="category-list">
	{% for category in site.categories %}
	<li>
	  <a href="/category/{{ category | first | slug | prepend: site.baseurl }}">
	    <span class="category_name">{{ category | first }}</span>
	    <span class="category_count">({{ category | last | size }})</span>
	  </a>&nbsp;
	</li>
	{% endfor %}
      </ul>
    </div>
  </div>

  <!-- Tags -->
  <div class="col">
    <i class="fa fa-tags"></i>&nbsp;<span>Tags</span>
    <div class="context">
      {% for tag in site.tags %}
      <a href="/tag/{{ tag | first | slugify | prepend: site.baseurl }}">
	<span class="tag-name">{{ tag | first }}</span>
	<span class="tag-count">{{ tag | last | size }}</span>
      </a>&nbsp;
      {% endfor %}
    </div>
  </div>

  <!-- Recent Posts-->
  <div class="col">
    <i class="fa fa-clipboard"></i>&nbsp;Recent Posts</span>
    <div class="context">
      {% for post in site.posts limit:10 %}
      <li>
	<i class="fa fa-link" aria-hidden="true"></i>&nbsp;
	<a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </div>
  </div>
</div>
