/**
 * Site header
 */
.site-header {
    top: 0;
    width: 100%;
    min-height: 56px;
    background: $bg-header-color;
    
    // Positioning context for the mobile navigation icon
    position: fixed;
    z-index: 2000;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    float: left;
    padding-left: 10px;

    &,
    &:visited {
        color: #fff;
    }
}

.menu-icon {
    display: none;

    @include media-query($on-palm) {
	position: absolute;
	top: 8px;
	right: 5px;
	display: block;
	color: #fdfdfd;	
    }
}    


.site-nav {
    display: block;
    float: right;
    line-height: 56px;

    .page-link {
	position: relative;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	padding: 9px;
	border-radius: 4px;
        color: $txt-light-color;
        line-height: $base-line-height;

	&:not(:last-child) {
	    margin-right: 20px;
	}

	&:hover{
	    -webkit-transition: all ease-in 0.1s;
	    -moz-transition: all ease-in 0.1s;
	    transition: all ease-in 0.1s;
	    background: #1F3F61;
	    
	    &:before {
		height: 20px;
		background-color: #000;
	    }
	}
    }
    

    @include media-query($on-palm) {
	float: none;
        background-color: $bg-header-color;
	
        .trigger {
            clear: both;
            display: none;
	    padding: 5px 10px;

	    .page-link {
		display: block;
		text-align: center;
		margin: 0;
		border-top: 1px solid darken($bg-header-color,10%);
		border-radius: 0;
	    }
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    text-align: center;
    padding: $spacing-unit 0;
    background: $bg-content-color;

    @include media-query($on-palm) {
	background: #fafafa;
    }
    
    .quick-link {
	width: 48px;
	position: fixed;
	bottom: 8px;
	right: 1%;
	font-size: 18px;
	z-index: 5000;

	a {
	    color: $bg-header-color;

	    &:hover {
		color: lighten($bg-header-color, 10%);
	    }
	}
    }
}

.nav-link {
    text-align: center;
    a {
	font-size: 20px;
	color: $bg-header-color;
    }
}

/**
 * Page content
 */
.page-content {
    background: $bg-content-color;
    padding: $spacing-unit * 3 0 $spacing-unit 0;

    @include media-query($on-palm) {
	background: #fafafa;
	padding: 55px 0 0 0;
    }
}

.home {
    position: relative;
    width: 710px;
    min-height: 400px;
    float: left;
    background: #fafafa;
    box-shadow: 0 1px 4px #999;
    outline: 1px solid #ccc;
    padding: $spacing-unit $spacing-unit * 1.5;

    @include media-query($on-laptop) {
        float: none;
	width: auto;
	padding: $spacing-unit;
    }

    .category-title {
	color: lighten($bg-header-color, 8%);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
    }
}


/*
** Sidebar
*/

.sidebar {
    position: relative;
    float: right;
    width: 320px;
    
    @include media-query($on-laptop) {
        float: none;
	width: auto;
    }

    .col {
	background: #fafafa;
	box-shadow: 0 1px 4px #999;
	outline: 1px solid #ccc;
	padding: $spacing-unit / 2.5;

	&:not(:first-child) {
	    margin-top: $spacing-unit / 2; 
	}

	@include media-query($on-laptop) {
	    margin-top: 0 !important;
	    outline: none;
	}
	
	@include media-query($on-palm) {
	    box-shadow: none;
	    margin-top: 0 !important;
	    outline: none;
	    border-top: 2px dotted #ccc;
	    
	    &:last-child {
		border-bottom: 2px dotted #ccc;
	    }
	}
	
	.category-list {
	    margin-left: 0;
	    list-style: none;
	    
	    > li {
		border-top: 1px solid $grey-color-light;
		padding: $spacing-unit / 5;
		
		&:last-child {
		    border-bottom: 1px solid $grey-color-light;
		}
	    }
	}	

	.category_name {
	    text-transform: capitalize;
	}

	.category_count {
	    float: right;
	    _position: relative; // for IE
	}
	
	.tag {
	    display: inline-block;
	    margin: 1px;
	}
	
	.tag-name {
	    font-size: 18px;
	    color: $txt-light-color;
	    background: lighten($bg-header-color, 20%);
	    padding: 0 5px;
	    border-radius: 5px 0 0 5px;
	    margin-right: 0;
	}

	.tag-count {
	    font-size: 18px;
	    background: lighten($bg-header-color, 60%);
	    padding: 0 5px;
	    border-width: 1px 1px 1px 0;
	    border-style: solid;
	    border-color: #111;
	    border-radius: 0 5px 5px 0;
	    margin-left: -5px;
	}

	.context {
	    margin: 10px 20px;

	    li {
		list-style: none;
	    }
	}
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit / 1.5;
	&:not(:last-child) {
	    border-bottom: 1px solid $grey-color-light;
	    padding-bottom: $spacing-unit / 2;
	}
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    margin-bottom: $spacing-unit / 2;
}

.post-link {
    display: inline;
    font-size: 24px;
}
 
/**
 * Posts
 */
.post {
    position: relative;
    min-height: 400px;
    background: #fafafa;
    box-shadow: 0 1px 4px #999;
    outline: 1px solid #ccc;
    padding: $spacing-unit $spacing-unit * 1.5;

    @include media-query($on-laptop) {
	padding: $spacing-unit / 1.5;
    }

    @include media-query($on-palm) {
	box-shadow: none;
	outline: none;
    }
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    p {
	line-height: 27px;
    }
}

.post-nav {
    margin-bottom: 100px;
    
    .left,
    .right {
	background: $bg-header-color;
	padding: 6px 10px;
	border-radius: 5px;
    }
    
    .left {
	float: left;
    }

    .right {
	float: right;
    }

    .link {
	color: #eee;
	
	&:hover {
	    background: lighten($bg-header-color, 10%);
	}	
    }
    
    .unlink {
	color: darken($bg-header-color, 10%);
    }
}



/**
 * Time Archive
 */
.post-time {
    border: none;
    margin: 0;
    padding: 30px 10px 10px 10px;

    @include media-query($on-palm) {
	padding: 2px;
    }
    
    tr {
	background-color: #fafafa !important;
	height: auto;
	
	td {
	    border: none;
	}
    }
}

.archive-date {
    width: 20%;    
    padding: 0;
    text-align: center;
    
    @include media-query($on-palm) {
	text-align: left;
    }
    
    .date-area {
	min-width: 88px;
    }
    .date-month {
	color: #fafafa;
	background: lighten($bg-header-color, 10%);
	line-height: 25px;
	padding: 10px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	
	@include media-query($on-palm) {
	    padding: 5px;
	    line-height: 18px;
	}	
    }

    .date-year {
	border-color: lighten($bg-header-color, 10%);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 8px;
	border-style: solid;
	border-width: 2px;
	margin-left: -5px;

	@include media-query($on-palm) {
	    padding: 3px;
	}
    }
}

.scope {
    border-left: 2px solid lighten($bg-header-color, 10%) !important;
}

.scope-right {
    border-bottom: 2px solid lighten($bg-header-color, 10%) !important;
    border-bottom-right-radius: 8px;
}

.scope-left {
    border-bottom: 4px solid lighten($bg-header-color, 10%) !important;
    border-bottom-left-radius: 8px;    
}

.post-date {
    .time-info {
	color: #bbb;
    }
}