---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <footer>
  <div class="nav-link">
    <a href="mailto:{{ site.email }}">    
      <span class="fa-stack fa-lg">
	<i class="fa fa-square fa-stack-2x"></i>
	<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="https://github.com/{{ site.github_username }}">
      <span class="fa-stack fa-lg">
	<i class="fa fa-square fa-stack-2x"></i>
	<i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <span class="fa-stack fa-lg">
	<i class="fa fa-square fa-stack-2x"></i>
	<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="https://facebook.com/{{ site.facebook_username }}">
      <span class="fa-stack fa-lg">
	<i class="fa fa-square fa-stack-2x"></i>
	<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>    
  </footer>
</article>
