---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.category %}
      &nbsp;<i class="fa fa-archive" aria-hidden="true"></i>&nbsp;
      <span><a class="category-div" href="/category/{{ page.category }}">{{ page.category }}</a></span>
      {% endif %}
      {% if page.tags.size > 0 %}
      &nbsp;<i class="fa fa-tag"></i>&nbsp;
      {% for tag in page.tags %}
      <a class="tag-div" href="/tag/{{ tag }}">{{ tag }}</a>&nbsp;
      {% endfor %}
      {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <hr>

  <div class="post-nav">
    {% if page.previous %}
    <a href="{{ page.previous.url }}" class="left link">
    {% else %}
    <a class="left unlink">
    {% endif %}
      << Previous
    </a>

    {% if page.next %}
    <a href="{{ page.next.url }}" class="right link">
    {% else %}
    <a class="right unlink">
    {% endif %}
      Next >>
    </a>
  </div>

  <hr>
  {% unless page.uncomments %}
    {% include disqus_comment.html %}
  {% endunless %}

</article>
{% include bookmark.html %}
