---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      {% for tag in post.tags %}
        {% if tag == page.tag %}
        <li>
          <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
	  <div class="post-meta">
	    <i class="fa fa-calendar"></i>&nbsp;
	    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>&nbsp;

	    {% if post.tags.size > 0 %}
	    &nbsp;<i class="fa fa-tag"></i>&nbsp;	
	    {% for tag in post.tags %}
  	    <span>{{ tag }}</span>&nbsp;
	    {% endfor %}
	    {% endif %}&nbsp;

	    {% if post.category %}
	    &nbsp;<i class="fa fa-archive" aria-hidden="true"></i>&nbsp;
	    <span>{{ post.category }}</span>
	    {% endif %}
	    
	  </div>
      
	  <div class="post-excerpt">
	    <p>{{ post.excerpt | strip_html }}</p>
	    <span><a href="{{ post.url | prepend: site.baseurl }}">Read More &raquo;</a></span>
	  </div>
	</li>
	{% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
  
</div>

{% include sidebar.html %}
